@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme{
  --font-syne: "Syne", sans-serif;
}